.btn-block
	width: 100%

.form-check
	float: right
	padding: 0

.form-check-input
	margin: 0 !important

hr
	margin: 0.5rem 0rem 0.5rem 0rem

#header
	display: flex

.button-container
	align-self: center
	margin-left: auto

.form-error
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,0,0,.6)

.error 
	width: 100%
	background: rgba(255, 0, 0, 0.4)
	text-align: center
	margin-bottom: 1em
	border-radius: 0.15em

.attribute-tooltip
	text-align: center
