<div id="Book">
    <p class="attribute-tooltip">Please, provide weight!</p>  
    <div class="input-group mb-3" id="Book">
        <input type="number" class="form-control" step="0.01" id="weight" name="attribute[weight]" placeholder="Weight" aria-label="Weight">
        <div class="input-group-append">
            <span class="input-group-text">KG</span>
        </div>
    </div>  
</div>

<div id="Furniture">
    <p class="attribute-tooltip">Please, provide dimensions!</p>
    <div class="input-group mb-3">
        <input type="number" class="form-control" step="0.01" id="height" name="attribute[dimensions][height]" placeholder="Height" aria-label="Height">
        <div class="input-group-append">
            <span class="input-group-text">CM</span>
        </div>
    </div>

    <div class="input-group mb-3">
        <input type="number" class="form-control" step="0.01" id="width" name="attribute[dimensions][width]" placeholder="Width" aria-label="Width">
        <div class="input-group-append">
            <span class="input-group-text">CM</span>
        </div>
    </div>

    <div class="input-group mb-3">
        <input type="number" class="form-control" step="0.01" id="length" name="attribute[dimensions][length]" placeholder="Length" aria-label="Length">
        <div class="input-group-append">
            <span class="input-group-text">CM</span>
        </div>
    </div>    
</div>

<div id="DVD">
    <p class="attribute-tooltip">Please, provide size!</p>
    <div class="input-group mb-3" id="DVD">
        <input type="number" class="form-control" step="0.01" id="size" name="attribute[size]" placeholder="Size" aria-label="Size">
        <div class="input-group-append">
            <span class="input-group-text">GB</span>
        </div>
    </div>    
</div>
